<a [routerLink]="['/']">Home</a>
<a [routerLink]="['/template']">Template Driven</a>

<h3>Reactive Forms</h3>

<form [formGroup]="form">
  <input type="text" formControlName="mainInput">
  <select class="form-control" id="country" formControlName="country" [(ngModel)]="person.country">
    <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
  </select>
  <app-child [state]="states" [pdata]="person">
  </app-child>
  <input type="submit" value="submit" (click)="saveData()">
</form>

{{form.value | json}}

<router-outlet></router-outlet>